python-binance
pandas
sqlalchemy
pandas-ta
numpy
mysql-connector-python
pyTelegramBotAPI
python-decouple
xlwt
tradingview_ta
plotly
requests
asyncio
pytz
python-dateutil
matplotlib
alembic
bcrypt
mysqlclient
snowflake-sqlalchemy
passlib